.listview tr {
	cursor: auto;
}

.listview tr + tr td
{
	border-top: 1px solid #EEE;
}

.listview .cell--key {
	text-align: right;
	width: 10px;
}

.listview .cell--key input:disabled {
	visibility: hidden;
}

.listview .cell--title {
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 48ex;
}

.listview .cell--title .small {
	margin-top: .5em;
}

.listview .cell--dependency {
	font-size: .8571em;
	line-height: 1.5em;
}

.listview .cell--install .alert {
	margin: 0;
}

.listview .cell--install .not-applicable {
	font-size: .8571em;
}

.block--modules--inactives .alert-block {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.module-relations {
	margin: 0;
	display: table;
}

.module-relations-row {
	display: table-row;
}

.module-relations-row > dt,
.module-relations-row > dd {
	display: table-cell;
	padding: 4px;
}

.module-relations-row > dt {
	padding-right: 4px;
	text-align: right;
	width: 8ex;
	white-space: nowrap;
}
